html, body {
	height: 100%;
}
.divider {
	padding-bottom: 10px;
}

.darkBackground {
	background-color: #5b6671;
	background-image: url("../assets/dark.jpg");
}

.textTitle {
	color: white;
	font-weight: 600;
	font-style: italic;
}

.cardBackground {
	background-color: hsl(210, 11%, 35%, 0.6);
}

.footerText {
	color: #d8d8d8;
}

.footerBackground {
	background-color: #343a40;
	text-align: center;
}

form label {
  color: white;
}

.form-control {
	background-color: #394047;
	color: white;
	border: none;
}

.form-control:focus {
	background-color: #394047;
	color: white;
	border: none;
}

.backgroundColorModal {
	background-color: #454d55;
}
.modal-footer {
	border-top: none;
}
.modal-header {
	border-bottom: none;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  opacity: 0.7;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 0.7;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: white;
  opacity: 0.7;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: white;
  opacity: 0.7;
}

.contentDiv {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

.footerDiv{
    height: 40px;
}